@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular-Web.eot');
    src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graphik-Regular-Web.svg#Graphik') format('svg'),
    url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
    url('../fonts/Graphik-Regular-Web.woff') format('woff'),
    url('../fonts/Graphik-Regular-Web.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Semibold-Web.eot');
    src: url('../fonts/Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graphik-Semibold-Web.svg#Graphik') format('svg'),
    url('../fonts/Graphik-Semibold-Web.woff2') format('woff2'),
    url('../fonts/Graphik-Semibold-Web.woff') format('woff'),
    url('../fonts/Graphik-Semibold-Web.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Menoe';
    src: url('../fonts/Menoe-Grotesque-Regular-Web.eot');
    src: url('../fonts/Menoe-Grotesque-Regular-Web.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Menoe-Grotesque-Regular-Web.svg#Menoe') format('svg'),
    url('../fonts/Menoe-Grotesque-Regular-Web.woff2') format('woff2'),
    url('../fonts/Menoe-Grotesque-Regular-Web.woff') format('woff'),
    url('../fonts/Menoe-Grotesque-Regular-Web.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Halvar';
    src: url('../fonts/Halvar-Breitschrift-Light-Web.eot');
    src: url('../fonts/Halvar-Breitschrift-Light-Web.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Halvar-Breitschrift-Light-Web.svg#Menoe') format('svg'),
    url('../fonts/Halvar-Breitschrift-Light-Web.woff2') format('woff2'),
    url('../fonts/Halvar-Breitschrift-Light-Web.woff') format('woff'),
    url('../fonts/Halvar-Breitschrift-Light-Web.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}