#modal-fadeout {
	display: none;
	background-color: #999;
	mix-blend-mode: multiply;
	opacity: 0.35;
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include transition(opacity);
}

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 110;
	display: flex;
	display: none;
	overflow-y: scroll;
	align-items: flex-end;

	& > .modal {
		overflow: hidden;
		line-height: 0;
		/*display: table-cell;*/
		display: block;
		width: 100%;
		flex-basis: 100%;
		vertical-align: bottom;
		padding-top: 44px;

		@media (min-width: $adaptive-width-tablet) {
			vertical-align: middle;
			padding: 27px 10%;
		}

		@media (min-width: $adaptive-width-desktop) {
			vertical-align: middle;
			padding: 125px 17.91%;
		}
	}
}

.modal {
	& > .contents {
		background-color: #fff;
		color: #000;
		padding: 34px 17px 31px;
		position: relative;
		@include radius-t(20px);
		width: 100%;
		font-size: 11px;
		line-height: 1.55;

		@media (min-width: $adaptive-width-tablet) {
			font-size: 12px;
			line-height: 1.33;
			padding: 37px 41px 26px;
			@include radius(10px);
		}

		@media (min-width: $adaptive-width-desktop) {
			background-color: #fff;
			max-width: 923px;
			margin: auto;
			@include radius(10px);
			padding: 66px 102px 40px;
		}

		&:after {
			content: '';
			width: 69px;
			height: 3px;
			background-color: #DCDCDC;
			@include radius(3px);
			display: block;
			position: absolute;
			top: 8px;
			left: 50%;
			margin-left: -34px;

			@media (min-width: $adaptive-width-tablet) {
				display: none;
			}
		}

		.modal-close {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			box-sizing: content-box;
			cursor: pointer;
			width: 12px;
			height: 12px;
			padding: 15px;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

			@media (min-width: $adaptive-width-tablet) {
				display: block;
			}

			@media (min-width: $adaptive-width-desktop) {
				width: 23px;
				height: 24px;
				padding: 20px; 
			}

			&:after {
				content: '';
				position: absolute;
				top: 15px;
				left: 15px;
				width: 12px;
				height: 12px;
				background: url('../images/ico_modal_close.svg') no-repeat center;
				background-size: contain;

				@media (min-width: $adaptive-width-desktop) {
					width: 23px;
					height: 24px;
					top: 20px;
					left: 20px;
				}
			}
		}

		.modal-work > & {
			position: relative;
			padding: 40px 15px 108px;

			@media (min-width: $adaptive-width-tablet) {
				padding: 40px 40px 108px 227px;
			}

			@media (min-width: $adaptive-width-desktop) {
				padding: 67px 72px 60px 408px;
				max-width: 1069px;
			}

			.modal-close {				
				font-size: 0;				
				padding: 0;

				@media (min-width: $adaptive-width-tablet) {
					padding: 15px;
					width: 12px;
					height: 12px;
					top: 0;
					right: 0;
				}

				@media (min-width: $adaptive-width-desktop) {
					background: #fff;
					width: 60px;
					height: 60px;
					@include radius(100px);
					position: fixed;
					padding: 0;
					top: 40px;
					right: 36px;
				}

				&:after {
				    content: '';
				    display: block;
				    width: 18px;
				    height: 18px;
				    background: url('../images/ico_modal_close.svg') no-repeat;
				    background-size: contain;
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    transform: translate(-50%, -50%);

				    @media (min-width: $adaptive-width-tablet) {
				    	width: 12px;
				    	height: 12px;
				    }

				    @media (min-width: $adaptive-width-tablet) {
				    	width: 18px;
				    	height: 18px;
				    }
				}
			}

			.title {
				font-family: $font-third;
				font-size: 22px;
				font-weight: 600;
				line-height: 1.27;
				margin-bottom: 11px;

				@media (min-width: $adaptive-width-tablet) {
					font-size: 14px;
					line-height: 1.14;
					margin-bottom: 10px;
				}

				@media (min-width: $adaptive-width-desktop) {
					font-size: 22px;
					line-height: 1.27;
					margin-bottom: 13px;
				}
			}

			.authors {
				font-size: 16px;
				line-height: 1.56;
				letter-spacing: 0.8px;
				margin-bottom: 18px;

				@media (min-width: $adaptive-width-tablet) {
					font-size: 12px;
					line-height: 1.42;
					margin-bottom: 19px;
				}

				@media (min-width: $adaptive-width-desktop) {
					font-size: 16px;
					line-height: 1.56;
					margin-bottom: 27px;
				}
			}

			.media {
				margin-bottom: 36px;

				@media (min-width: $adaptive-width-tablet) {
					position: absolute;
					top: 40px;
					left: 40px;
					width: 151px;
				}

				@media (min-width: $adaptive-width-desktop) {
					top: 76px;
					left: 72px;
					width: 273px;
				}

				.picture {
					position: relative;
					display: block;

					&:before {
						display: none;
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						width: 74px;
						height: 74px;
						background-color: #000;
						@include radius(100px);
						margin: -37px 0 0 -37px;

						@media (min-width: $adaptive-width-tablet) {
							display: block;
							width: 34px;
							height: 34px;
							margin: -17px 0 0 -17px;
						}

						@media (min-width: $adaptive-width-desktop) {
							width: 74px;
							height: 74px;
							margin: -37px 0 0 -37px;
						}
					}

					&:after {
						display: none;
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						width: 33px;
						height: 33px;
						background: url('../images/ico_zoom.svg') no-repeat;
						background-size: contain;
						margin: -16px 0 0 -16px;

						@media (min-width: $adaptive-width-tablet) {
							display: block;
							width: 18px;
							height: 18px;
							margin: -9px 0 0 -9px;
						}

						@media (min-width: $adaptive-width-desktop) {
							width: 33px;
							height: 33px;
							margin: -16px 0 0 -16px;
						}
					}

					img {
						display: block;
						width: 100%;
					}

					& + .video {
						margin-top: 18px;

						@media (min-width: $adaptive-width-tablet) {
							margin-top: 16px;
						}

						@media (min-width: $adaptive-width-desktop) {
							margin-top: 30px;
						}
					}
				}

				.video {
					display: block;
					position: relative;
					padding-top: 56.25%;

					// &:before {
					// 	content: '';
					// 	position: absolute;
					// 	top: 50%;
					// 	left: 50%;
					// 	width: 74px;
					// 	height: 74px;
					// 	background-color: #000;
					// 	@include radius(100px);
					// 	margin: -37px 0 0 -37px;

					// 	@media (min-width: $adaptive-width-tablet) {
					// 		width: 34px;
					// 		height: 34px;
					// 		margin: -17px 0 0 -17px;
					// 	}

					// 	@media (min-width: $adaptive-width-desktop) {
					// 		width: 74px;
					// 		height: 74px;
					// 		margin: -37px 0 0 -37px;
					// 	}
					// }

					// &:after {
					// 	content: '';
					// 	position: absolute;
					// 	top: 50%;
					// 	left: 50%;
					// 	width: 31px;
					// 	height: 42px;
					// 	background: url('../images/ico_play.svg') no-repeat;
					// 	background-size: contain;
					// 	margin: -20px 0 0 -12px;

					// 	@media (min-width: $adaptive-width-tablet) {
					// 		width: 14px;
					// 		height: 19px;
					// 		margin: -9px 0 0 -5px;
					// 	}

					// 	@media (min-width: $adaptive-width-desktop) {
					// 		width: 31px;
					// 		height: 42px;
					// 		margin: -20px 0 0 -12px;
					// 	}
					// }

					img {
						display: block;
						width: 100%;
					}

					iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
			}

			.credits {
				background-color: #F5F4F4;
				padding: 15px;
				font-size: 16px;
				line-height: 1.56; 
				letter-spacing: 0.8px;
				@include radius(10px);
				margin-bottom: 31px;

				@media (min-width: $adaptive-width-tablet) {
					padding: 15px 11px 15px 13px;
					font-size: 12px;
					line-height: 1.42;
					margin-bottom: 20px;
				}

				@media (min-width: $adaptive-width-desktop) {
					padding: 27px 24px 26px;
					font-size: 16px;
					line-height: 1.56;
				}

				p {
					overflow-wrap: break-word;
					word-wrap: break-word;
					word-break: break-all;
					-webkit-hyphens: none;
					-ms-hyphens: none;
					hyphens: none;
					margin: 0;
				}

				.code {
					overflow-wrap: break-word;
					word-wrap: break-word;
					word-break: break-all;
					-webkit-hyphens: none;
					-ms-hyphens: none;
					hyphens: none;
					color: #999;

					padding-top: 28px;
					border-top: 1px solid #A7A7A7;
					margin-top: 13px;

					@media (min-width: $adaptive-width-tablet) {
						padding-top: 20px;
						margin-top: 9px;
					}

					@media (min-width: $adaptive-width-desktop) {
						padding-top: 28px;
						margin-top: 23px;
					}

					& > a {
						color: #999;
						text-decoration: none;
					}
				}
			}

			.hint {
				font-size: 12px;
				margin-bottom: 26px;

				@media (min-width: $adaptive-width-tablet) {
					font-size: 11px;
					margin-bottom: 20px;
				}

				@media (min-width: $adaptive-width-desktop) {
					font-size: 12px;
					margin-bottom: 22px;
				}
			}

			.text {
				font-size: 16px;
				line-height: 1.56;
				letter-spacing: 0.8px;

				@media (min-width: $adaptive-width-tablet) {
					font-size: 12px;
					line-height: 1.42;
				}

				@media (min-width: $adaptive-width-desktop) {
					font-size: 16px;
					line-height: 1.56;
				}
			}

			.close-btn {
				position: fixed;
				bottom: 27px;
				left: 50%;
				transform: translateX(-50%);
				border: 0;
				background-color: #fff;
				width: 208px;
				height: 42px;
				font-size: 14px;
				font-weight: 600;
				color: #000;
				box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
				cursor: pointer;
				@include radius(100px);
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

				@media (min-width: $adaptive-width-tablet) {
					font-size: 12px;
				}

				@media (min-width: $adaptive-width-desktop) {
					display: none;
				}
			}
		}

		#modal-done > & {
			text-align: center;
			padding: 86px 30px 31px;

			@media (min-width: $adaptive-width-desktop) {
				padding: 66px 102px 40px;
			}

			.thanks {
				font-size: 11px;
				margin-bottom: 66px;

				@media (min-width: $adaptive-width-tablet) {
					font-size: 12px;
					padding-top: 40px;
					margin-bottom: 93px;
				}

				@media (min-width: $adaptive-width-desktop) {
					font-size: 16px;
					padding-top: 115px;
					margin-bottom: 180px;
				}
			}

			.btn {
				background-color: #000;
				color: #fff;
				width: 187px;
				height: 47px;
				border: 0;
				font-size: 12px;
				box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);

				@media (min-width: $adaptive-width-tablet) {
					width: 171px;
					height: 37px;
					font-size: 12px;
				}

				@media (min-width: $adaptive-width-desktop) {
					width: 360px;
					height: 68px;
					font-size: 18px; 
					font-weight: 600;
				}
			}
		}

		#modal-virtual > & {
			padding: 48px 30px 31px;

			@media (min-width: $adaptive-width-tablet) {
				padding: 37px 41px 30px;
			}

			@media (min-width: $adaptive-width-desktop) {
				padding: 66px 102px 40px;
			}

			.text {
				font-size: 11px;
				line-height: 1.55;
				letter-spacing: 0.8px;
				margin-bottom: 23px;

				@media (min-width: $adaptive-width-tablet) {
					font-size: 12px;
					line-height: 1.33;
					margin-bottom: 23px;
				}

				@media (min-width: $adaptive-width-desktop) {
					font-size: 16px;
					line-height: 1.56;
					margin-bottom: 52px;
				}

				&.mobile {
					display: block;

					@media (min-width: $adaptive-width-desktop) {
						display: none;
					}
				}

				&.desktop {
					display: none;

					@media (min-width: $adaptive-width-desktop) {
						display: block;
					}
				}
			}

			.btn {
				display: block;
				margin: 0 auto;
				background-color: #000;
				color: #fff;
				width: 187px;
				height: 47px;
				border: 0;
				font-size: 12px;
				box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
				text-decoration: none;

				@media (min-width: $adaptive-width-tablet) {
					width: 171px;
					height: 37px;
					font-size: 12px;
				}

				@media (min-width: $adaptive-width-desktop) {
					width: 360px;
					height: 68px;
					font-size: 18px; 
					font-weight: 600;
				}

				& > a {
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}
}